/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex-grow: 1; /* Faz o conteúdo principal crescer */

  /* Adicionado para que o filho .page-center possa usar 100% da altura */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.page-center {
  flex-grow: 1;             /* Ocupa todo o espaço do .main-content */
  display: flex;
  justify-content: center; /* Centraliza no meio (horizontal) */
  align-items: center;   /* Centraliza no centro (vertical) */
}
.full-page-container {
  flex-grow: 1;
  max-width: 100%!important;
  max-height: 100%!important;
}